$mainColour: rgb(71, 16, 88);
$complColour: rgb(255, 221, 120);
$bgColour: linear-gradient(0deg, rgba(50,0,62,1) 0%, rgba(100,0,110,1) 100%);
$gameFieldColour: rgb(232, 219, 183);
$textColour: rgb(255, 254, 250);