$mainColour: rgb(71, 16, 88);
$complColour: rgb(255, 221, 120);
$bgColour: linear-gradient(0deg, rgb(164, 145, 168) 0%, rgb(95, 57, 99) 100%);
$gameFieldColour: rgb(255, 255, 255);
$textColour: rgb(255, 254, 250);