@import './scss/variables';
@import './scss/cards';
@import './scss/mixins';
@import './scss/game';
@import './scss/start';
@import './nullstyle.css';
@import './scss/modal';
@import './scss/fonts';
@import './scss/media';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Playpen+Sans:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800;900&family=Titan+One&family=Ubuntu:wght@400;700&display=swap');


body {
    width: 100vw;
    height: 100vh;
    padding: 0 15px;
    background-color: $mainColour;
    background: $bgColour;
    background-repeat: repeat-y;
    color: $textColour;
    font-family: 'Amatic SC', sans-serif;    
    @include centerPosition;

    h1 {
        margin-top: 20px;
        text-align: center;
        font-family: 'Amatic SC', sans-serif;
        margin-top: 15px;
    }

    .btn {
        border: none;
        padding: .25rem .75rem;
        border-radius: 1em;
        font-weight: 700;
        font-size: 1.3rem;
    }
}