@import './scss/variables';
@import './scss/cards';
@import './scss/mixins';
@import './scss/game';
@import './scss/start';
@import './nullstyle.css';
@import './scss/modal';

body {
    width: 100vw;
    height: 100vh;
    background-color: $mainColour;
    background: $bgColour;
    background-repeat: repeat-y;
    color: $textColour;
    
    @include centerPosition;

    h1 {
        margin-bottom: 1em;
        font-size: 2rem;
    }

    .btn {
        border: none;
        padding: .25rem .75rem;
        border-radius: 1em;
    }
}